
.alas{
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
    margin-top: 30px;
    border-radius: 10px;
}
h3{
    text-align: center;
}
table{
    margin: auto;
}